
{% extends 'recommend_edu/base.html' %}

{% block title %}Recommender System, Questionnaire{% endblock %}
{% block content %}
 <h2>Step 1. Short test</h2>

    <div class = 'mt-5'>
      <h3>Please, fill your profile.</h3>
        <p>Explanation</p>
        <!-- templates/profile.html -->
         <form method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                {{ form.as_p }}
            {% endfor %}
            <input type="submit" value="Submit">
         </form>
    </div>
{% endblock %}