{% extends 'recommend_edu/base.html' %}

{% block title %}Recommender System, Results{% endblock %}
{% block content %}


  <h3>Step 2. Results and recommendations</h3>

    <div class = 'mt-5'>
      <h4 class = 'mb-5'>Result analysis for Profile {{ answer.profile_id.id }}</h4>
      <p><strong>Hobbies:</strong> {{ answer.hobbies }}</p>
      <p><strong>Mean Age of Best Friends:</strong> {{ answer.mean_age }}</p>
      <p><strong>Likes to Work in a Team:</strong> {{ answer.work_in_team }}</p>
      <p><strong>Stubbornness Rate:</strong> {{ answer.stubbornness_rate }}</p>
    </div>

{% endblock %}
